<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>JspProject07</display-name>
 
 <servlet>
 	<servlet-name>add</servlet-name>
 	<servlet-class>com.jsp.learning.ContextAndConfig</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>add</servlet-name>
 <url-pattern>/addition</url-pattern>
 </servlet-mapping>
 <context-param>
 <param-name>Name</param-name>
 <param-value>Mohammed Azhar</param-value>
 </context-param>
</web-app>